<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    
    <link rel="stylesheet" href="/css/styleb.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar">
        <ul class="nav navbar-nav">
           
            <%for(i=0;i<nav.length;i++){%>
              <li><a href='<%=nav[i].link%>'><%=nav[i].name%></a></li>
              <%}%>
            
        </ul>
    </div>   
</nav>
<div class="container-fluid">
  <div class=row>
    <div class="col-md-12">
    <div class="col-md-3">
    <p>Book</p>
    </div>
    <div class="col-md-4"></div>
    </div>
 </div>
</div>

<div class="container">
    <div class="media">
        <div class="media-left">
          <img src="/images/<%=book.image%>" class="media-object img-circle" >
        </div>
        <div class="media-body">
          <div class="f3">
        <h3 class="media-heading"><%=book.title%></h3>
        <kbd><%=book.author%></kbd><br>
        <p><%=book.genre%> <span class="dot"></span>  Read More</p>
        </div>
      </div>
      <button type="button" class="btn btn-default btn-sm">
       <a href ="/update/<%=book._id%>"> <span class="glyphicon glyphicon-pencil"></span></a>
      </button>
      <button type="button" class="btn btn-default btn-sm">
        <a href = "/delete/<%=book._id%>"><span class="glyphicon glyphicon-trash"></span>
      </button>
      </div>
    </div>
    
        <div class="h-divider">
        </div>

        
            <div class="btn">
                <button type="button" class="btn btn-info">More <span class="glyphicon glyphicon-unchecked"></span></button>
            </div>
</div>
<div>
    <h4>Follow Us</h4>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-info">Twitter</button>
    <button type="button" class="btn btn-primary">Facebook</button>
    <button type="button" class="btn btn-danger">Google+</button>
  </div>

</body>
</html>