<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    
    <link rel="stylesheet" href="/css/styleb.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar">
        <ul class="nav navbar-nav">
           
            <%for(i=0;i<nav.length;i++){%>
              <li><a href='<%=nav[i].link%>'><%=nav[i].name%></a></li>
              <%}%>
            
        </ul>
    </div>   
</nav>
<div class="container-fluid">
  <div class=row>
    <div class="col-md-12">
    <div class="col-md-3">
    <p>Update Authors</p>
    </div>
    <div class="col-md-4"></div>
    </div>
 </div>
</div>

<div class="container">
    <form method = "POST" action="/edit/<%=author._id%>">
    
     <div id ="title">  
         <label>TITLE:</label> 
           <input type ="text" name ="title" id = "in1" value ="<%=author.title%>" ><br><br></div>
      <div id ="author">  
       <label>AUTHOR:</label>
          <input type ="text" name ="author" id = "in2" value ="<%=author.author%>"><br><br></div>
      <div id ="genre">  
    <label>GENRE:</label> 
          <input type ="text" name ="genre" id = "in3" value ="<%=author.genre%>"><br><br></div>
      <div id ="image"> 
          <label>IMAGE:</label>
        <input type ="file" name ="image"  id = "in4" value ="<%=author.image%>.jpg"><br><br></div>
        <button id = btn>UPDATE</button>

    </form>
    </div>
        <div class="h-divider">
        </div>

        
            <div class="btn">
                <button type="button" class="btn btn-info">More <span class="glyphicon glyphicon-unchecked"></span></button>
            </div>
</div>
<div>
    <h4>Follow Us</h4>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-info">Twitter</button>
    <button type="button" class="btn btn-primary">Facebook</button>
    <button type="button" class="btn btn-danger">Google+</button>
  </div>

</body>
</html>